<h1>Battle of <strong>the</strong> band</h1>

<form action="/artist/">
    <label for="artist">El artist</label>
    <input type="text" name="artist" id="artist">
    <button>Go get my songs</button>
</form>

<div class="js-song_off">

</div>
